@model Zarabizi.Models.RepararEstacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RepararEstacion</legend>

    <div class="display-label">Empleado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Empleado.DNIEmpleado)
    </div>

    <div class="display-label">Estacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estacion.nombreEstacion)
    </div>

    <div class="display-label">descripcionRepararEstacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcionRepararEstacion)
    </div>

    <div class="display-label">fechaRepararEstacion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaRepararEstacion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idRepararEstacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
