@model IEnumerable<Zarabizi.Models.Oficina>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            nombreOficina
        </th>
        <th>
            ubicacionOficina
        </th>
        <th>
            ciudadOficina
        </th>
        <th>
            provinciaOficina
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreOficina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ubicacionOficina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciudadOficina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.provinciaOficina)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idOficina }) |
            @Html.ActionLink("Details", "Details", new { id=item.idOficina }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idOficina })
        </td>
    </tr>
}

</table>
