@model Zarabizi.Models.Bono
@using Zarabizi.Resources
@{
    ViewBag.Title = @Messages.lbl_Crear;
}

<h2>@Messages.lbl_Crear</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Messages.lbl_Bono</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaCompraBono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaCompraBono)
            @Html.ValidationMessageFor(model => model.fechaCompraBono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaInicioBono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaInicioBono)
            @Html.ValidationMessageFor(model => model.fechaInicioBono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaFinalBono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaFinalBono)
            @Html.ValidationMessageFor(model => model.fechaFinalBono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idSocio, "Socio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idSocio", String.Empty)
            @Html.ValidationMessageFor(model => model.idSocio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idTarifa, "Tarifa")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idTarifa", String.Empty)
            @Html.ValidationMessageFor(model => model.idTarifa)
        </div>

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@Messages.lbl_VolverLista, "Index")
</div>
