@model Zarabizi.Models.Estacion
@using Zarabizi.Resources
@{
    ViewBag.Title = @Messages.lbl_Editar;
}

<h2>@Messages.lbl_Editar</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Messages.lbl_Estacion</legend>

        @Html.HiddenFor(model => model.idEstacion)

        <div class="editor-label">
            @Html.LabelFor(model => model.nombreEstacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreEstacion)
            @Html.ValidationMessageFor(model => model.nombreEstacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ubicacionEstacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ubicacionEstacion)
            @Html.ValidationMessageFor(model => model.ubicacionEstacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.anclajesEstacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.anclajesEstacion)
            @Html.ValidationMessageFor(model => model.anclajesEstacion)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@Messages.lbl_VolverLista, "Index")
</div>
